body{
text-align: center;
}

.third{

    color: aqua;
font-size: 40px;
}
.no-5{

color: aquamarine;
font-size: 30px;

}
.no-4{

font-size: 30px;



}
.second{


font-size: 30px;


}
